.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background: url("./img/g3.jpg");
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.network-canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgb(0, 0, 0);
}

body {
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  overflow-y: auto;
  background: black;
  /* background: linear-gradient(135deg, #001f3f, #3b0a89, #6a0572, #00c896); */
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  padding-bottom: 40px;
}

.card {
  border-radius: 15px;
  background: linear-gradient(135deg, #001f3f, #3b0a89, #3d0572, #00c896);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
}

.card h2 {
  margin: 10px 0;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #00c896, #3d0572, #3b0a89);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gradient-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
